.Direction h4{
    margin-bottom:0;
    color: #fcaa67;
    font-size:250%;
}

.Direction div{
    margin:5px 10px;
    display: inline-block;
}

.Direction div label{
    margin:10px;
    text-transform: capitalize;
}